<div class="container-fluid d-flex justify-content-center my-4">
  <div class="w-100" style="max-width: 600px;">
    <%= render 'public/shared/group_form', form_title: "グループ情報編集", submit_label: "サークル情報を変更" %>
  </div>
</div>