<h3>検索結果</h3>

<% if @category == 'アーティスト' %>
  <h3>アーティスト</h3>
  <% if @results.any? %>
    <% @results.each do |artist| %>
      <p><%= link_to artist.name, artist_path(artist) %></p>
    <% end %>
  <% else %>
    <p>アーティストが見つかりませんでした。</p>
  <% end %>

<% elsif @category == 'ユーザー' %>
  <h3>ユーザー</h3>
  <% if @results.any? %>
    <% @results.each do |user| %>
      <p><%= link_to user.name, user_path(user) %></p>
    <% end %>
  <% else %>
    <p>ユーザーが見つかりませんでした。</p>
  <% end %>

<% elsif @category == 'コミュニティ' %>
  <h3>コミュニティ</h3>
  <% if @results.any? %>
    <% @results.each do |group| %>
      <p><%= link_to group.name, group_path(group) %></p>
    <% end %>
  <% else %>
    <p>コミュニティが見つかりませんでした。</p>
  <% end %>

<% else %>
  <p>検索結果がありません</p>
<% end %>