<div class="card">
  <div class="card-header" id="headingAirtistRule">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseAirtistRule" aria-expanded="false" aria-controls="collapseAirtistRule">
        アーティストページ・トピック作成のルール ＋
      </button>
    </h5>
  </div>
  <div id="collapseAirtistRule" class="collapse" aria-labelledby="headingAirtistRule">
    <div class="card-body">
      <p>　特定のアーティストページを作成でき、そこに複数のトピックを作成できます。</p>
      <ul>
        <li>アーティスト名は正式名称、略称など用いず作成してください。</li>
        <li>作成した内容の変更はできますがアーティスト、トピック自体の削除はできません。</li>
        <li>アーティスト名などの情報を変更できるのは作成者だけです。</li>
        <li>同名アーティストは登録できません。</li>
        <li>トピックはできるだけ同じ内容の物は避けてください。</li>
        <li>ライブの感想など、ネタばれになる可能性があるものは作成の際に「ネタばれあり」のジャンルを指定してください。</li>
      </ul>
    </div>
  </div>
</div>