<div class="card">
  <div class="card-header" id="headingFlow">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFlow" aria-expanded="false" aria-controls="collapseFlow">
      ゲストユーザーについて ＋
      </button>
    </h5>
  </div>
  <div id="collapseFlow" class="collapse" aria-labelledby="headingFlow">
    <div class="card-body">
      <p>　ログイン画面より会員登録を行わず、ゲストユーザーとしてもログインが可能です</p>
      <ol>
        <li>アーティストのトピックへのコメントは可能です。</li>
        <li>サークルへの参加はできません</li>
        <li>マイページの利用、アーティストのいいね機能などは使用できません。</li>
        <li>他ユーザーの情報は見ることができません。</li>
        <li>ゲストユーザー名にはIDが付与されます。</li>
      </ol>
    </div>
  </div>
</div>