<div class="card">
  <div class="card-header" id="headingGueatUser">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseGueatUser" aria-expanded="false" aria-controls="collapseGueatUser">
      ゲストユーザーについて ＋
      </button>
    </h5>
  </div>
  <div id="collapseGueatUser" class="collapse" aria-labelledby="headingGueatUser">
    <div class="card-body">
      <p>　ログイン画面より会員登録を行わず、ゲストユーザーとしてもログインが可能です</p>
      <ul>
        <li>アーティストのトピックへのコメントは可能です。</li>
        <li>サークルへの参加はできません</li>
        <li>マイページの利用、アーティストのいいね機能などは使用できません。</li>
        <li>他ユーザーの情報は見ることができません。</li>
        <li>ゲストユーザー名にはIDが付与されます。</li>
      </ul>
    </div>
  </div>
</div>