<div class="card">
  <div class="card-header" id="headingCircleRule">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseCircleRule" aria-expanded="false" aria-controls="collapseCircleRule">
        サークルのルール ＋
      </button>
    </h5>
  </div>
  <div id="collapseCircleRule" class="collapse" aria-labelledby="headingCircleRule">
    <div class="card-body">
      <p>　「ジャンル」「楽器」「フェス」など好きなものを語るサークルを自由に作成できます。</p>
      <ul>
        <li>音楽に関することならどんなサークルでも作成できます。</li>
        <li>できるだけわかりやすいタイトルをつけてください。</li>
        <li>同名サークルは作成できません。</li>
        <li>サークル内のコメントは未ログイン、ゲストユーザには見ることができません。</li>
        <li>チャットルームはサークルのメンバーのみ入ることができます。</li>
        <li>メンバーの除名などはできません。何かあった場合は管理人への通報をお願いします。</li>
      </ul>
    </div>
  </div>
</div>