<div class="container-fluid my-5">
  <div class="mt-4 text-center" >
    <h1 class="mb-3">Stan Colonyについて</h1>
    <div class="about-message">
      <p>Stan Colonyとは</p>
      <p>音が落ちる。
      深い闇に、静かに、重く。
      
      鼓膜では捉えきれない“何か”が、
      心の奥で震えている。
      
      それは旋律か、叫びか、
      あるいは
      忘れられなかった“あの日”の記憶か。
      
      お前がそれを“音楽”と呼ぶのなら、
      俺たちは――その音に、名を刻む者たち。
      
      ここは「Music」
      ただ語る場所ではない。
      ただ聴く場所でもない。
      
      卍解――音魂共鳴！
      
      アーティストの名のもとに
      トピックが生まれ、
      言葉が交わり、
      魂が、触れ合う。
      
      無数の感情がぶつかり合い、混ざり合い、
      気づけばお前は“音楽”に住んでいる。
      
      語れ。叫べ。黙れ。聴け。
      何をしてもいい、ここでは。
      
      ただ一つ、忘れるな。
      お前が選んだその一曲が、誰かの救いになることもある。</p>
    </div>
  </div>
</div>
