<div class="container-fluid d-flex justify-content-center my-4">
  <div class="w-100" style="max-width: 600px;">
    <%= render 'public/shared/artist_form', form_title: "アーティスト投稿", submit_label: "アーティストを登録" %>
  </div>
</div>
