<div class="container d-flex justify-content-center my-4">
  <div class="w-100" style="max-width: 600px;">
    <%= render 'public/shared/topic_form', form_title: "トピック作成", submit_label: "トピックを作成" %>
    <div class="accordion mt-5" id="aboutAccordion">
      <%= render 'public/homes/about_artist_rule' %>
    </div>
  </div>
</div>
