<div class="icon-guide d-flex justify-content-center border rounded bg-light mt-3">
  <% case context %>
  <% when :report %>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-user mr-1"></i><span>ユーザー</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-music mr-1"></i><span>アーティストページ</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-list mr-1"></i><span>アーティストのトピック</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-comment mr-1"></i><span>トピックへのコメント</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-users mr-1"></i><span>サークル</span>
    </div>
    <div class="d-flex align-items-center my-2">
      <i class="fa-solid fa-comments mr-1"></i><span>サークルへのコメント</span>
    </div>

  <% when :artist %>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-comment mr-1"></i><span>いいね数</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-list mr-1"></i><span>トピック総数</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-comment mr-1"></i><span>コメント総数</span>
    </div>

  <% when :user %>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-music mr-1"></i><span>作成したアーティストページ総数</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-list mr-1"></i><span>作成したトピック総数</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-users mr-1"></i><span>作成したサークル総数</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-comment mr-1"></i><span>コメント総数</span>
    </div>

  <% when :group %>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-user mr-1"></i><span>ユーザー数</span>
    </div>
    <div class="d-flex align-items-center mr-4 my-2">
      <i class="fa-solid fa-comment mr-1"></i><span>コメント総数</span>
    </div>

    <% end %>
</div>